# Debhelper build artefacts
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.*.debhelper
debian/svx-dashboard.debhelper.log

# Now allow source files inside debian/
!debian/*
# Allow directories
!debian/**/
# Allow everything you maintain manually
!debian/extra/**
!debian/source/**
!debian/upstream/**
!debian/control
!debian/rules
!debian/changelog
!debian/watch
!debian/*.install
!debian/*.links
!debian/*.manpages
!debian/*.tmpfiles
!debian/*.lintian-overrides
!debian/README.Debian
