*.build
*.buildinfo
*.changes
*.deb
*.dsc
*.debian.tar.*
*.orig.tar.*
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/tmp/
debian/.debhelper/
debian/svx-dashboard/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper
debian/*.substvars
svx-dashboard_*.orig.tar.*
