[Unit]
Description=Rotate SVX history
[Service]
Type=oneshot
User=svxlink
Group=svxlink
WorkingDirectory=/run/svxlink
EnvironmentFile=-/etc/svxlink/history.env
ExecStart=/usr/share/svx-dashboard/bin/svx_history_rotate.sh
