[Unit]
Description=Rotate SVX history
Documentation=https://github.com/karelxkk/svx-dashboard
[Service]
Type=oneshot
User=svxlink
Group=svxlink
WorkingDirectory=/run/svxlink
EnvironmentFile=-/etc/svxlink/history.env
ExecStart=/usr/lib/svx-dashboard/svx_history_rotate.sh
