[Unit]
Description=Run history rotation every 5 minutes
[Timer]
OnCalendar=*:0/5
Persistent=true
Unit=svx-history-rotate.service
[Install]
WantedBy=timers.target
