[Unit]
Description=Rotate SVX history
[Service]
Type=oneshot
EnvironmentFile=-/etc/svxlink/history.env
ExecStart=/usr/lib/svx-dashboard/svx_history_rotate.sh
