[Unit]
Description=Rotate SVX history timer
[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=15s
Unit=svx-history-rotate.service
[Install]
WantedBy=timers.target
