[Unit]
Description=Run daily history rotation
[Timer]
OnCalendar=*-*-* 03:33:00
Persistent=true
Unit=svx-history-rotate.service
[Install]
WantedBy=timers.target
