[Unit]
Description=SVX SSE daemon
[Service]
Type=simple
EnvironmentFile=-/etc/svxlink/history.env
User=www-data
Group=www-data
ExecStart=/usr/bin/python3 -u /usr/lib/svx-dashboard/svx_sse.py
Restart=always
RestartSec=1
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ReadWritePaths=/run/svxlink /run/lock/svxlink /var/log/svxlink
CapabilityBoundingSet=
